<div class="card">
    <div class="card-body">

        <div>
            <h2>Gerenciamento De Usuarios</h2>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="pull-left">
                        <a class="btn btn-primary" (click)="openModalCreate(modalCreate)">
                            <i class="bi bi-person-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="panel panel-default">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome </th>
                        <th>SobreNome</th>
                        <th>E-mail</th>
                        <th>Status</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td><input type="checkbox" [checked]="item.status" disabled></td>
                        <td>{{item.dt_Create | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <a title="Edit" class="btn btn-warning" (click)="openModalEdit(item, modalUpdate)"> <i class="bi bi-pencil-square"></i> </a>&nbsp;
                            <a title="Details" class="btn btn-primary"> <i class="bi bi-search"></i> </a>&nbsp;
                            <a title="Delete" class="btn btn-danger"> <i class="bi bi-trash3"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
</div>

<!-- Create -->
<ng-template #modalCreate let-modal>
    <div class="modal-body">
        <h2>Criar Novo Usuario</h2>

        <form [formGroup]="createForm" (ngSubmit)="create()">
            <div class="form-horizontal">
                <hr />        
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="Nome" formControlName="Name" />
                        <label *ngIf="createForm.controls['Name'].invalid && createForm.controls['Name'].touched" style="color: red;">Name é obrigatório</label>
                    </div>
                </div>   
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="SobreNome" formControlName="LastName"/>
                        <label *ngIf="createForm.controls['LastName'].invalid && createForm.controls['LastName'].touched" style="color: red;">SobreNome é obrigatório</label>
                    </div>
                </div>   
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="E-mail" formControlName="Email"/>
                        <label *ngIf="createForm.controls['Email'].invalid && createForm.controls['Email'].touched" style="color: red;">E-mail é obrigatório</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-success"  [disabled]='createForm.invalid'/>&nbsp;
                        <a class="btn btn-info" (click)="modal.close('Save click')">Voltar</a>
                    </div>
                </div>
        
            </div>
        </form>
    </div>
</ng-template>

<!-- Update -->
<ng-template #modalUpdate let-modal>
    <div class="modal-body">
        <h2>Editar Usuario</h2>

        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div class="form-horizontal">
                <hr />        
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="Nome" formControlName="Name" />
                        <label *ngIf="updateForm.controls['Name'].invalid && updateForm.controls['Name'].touched" style="color: red;">Name é obrigatório</label>
                    </div>
                </div>   
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="SobreNome" formControlName="LastName"/>
                        <label *ngIf="updateForm.controls['LastName'].invalid && updateForm.controls['LastName'].touched" style="color: red;">SobreNome é obrigatório</label>
                    </div>
                </div>   
                <div class="form-group mb-3">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="E-mail" formControlName="Email"/>
                        <label *ngIf="updateForm.controls['Email'].invalid && updateForm.controls['Email'].touched" style="color: red;">E-mail é obrigatório</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Editar" class="btn btn-success"  [disabled]='updateForm.invalid'/>&nbsp;
                        <a class="btn btn-info" (click)="modal.close('Save click')">Voltar</a>
                    </div>
                </div>
        
            </div>
        </form>
    </div>
</ng-template>